.fordform {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forms {
    display: block;
    text-align: center;
    font-size: 14px;
}

#notification{
    width: 13px;
}

.title {
    text-align: left;
    font-weight: 800;
    font-size: 20px;
    margin-left: 8px;
}


.button-send {
    width: 200px;
    height: 40px;
    margin-right: 8px;
    margin-left: 60px;
}

@media (max-width: 1500px){
    footer{
        padding-bottom: 41px;
    }
}

@media (max-width: 1024px){
    .img-form{
        width: 400px;
    }

    .title{
        font-size: 26px;
    }

    .fordform{
        width: 400px;
    }

    select.fordform{
        width: 410px;
    }

    #notification{
        width: 20px;
        height: 15px;
    }
    
    .button-send{
        width: 300px;
        font-size: 16px;
    }
}

@media (max-width: 820px){
    .img-form{
        width: 300px;
    }

    .title{
        font-size: 20px;
    }

    .fordform{
        width: 300px;
    }

    select.fordform{
        width: 310px;
    }

    .button-send{
        width: 200px;
        font-size: 14px;
    }
}

@media (max-width: 560px){
    .img-form{
        width: 250px;
    }

    .title{
        font-size: 18px;
        margin-left: 60px;
    }

    form{
        font-size: 12px;
    }

    .fordform{
        width: 250px;
        margin-left: 60px;
        font-size: 12px;
    }

    select.fordform{
        width: 260px;
        margin-left: 60px;
    }

    #notification{
        width: 10px;
        height: 10px;
        margin-left: 60px;
    }

    .button-send{
        width: 200px;
        font-size: 12px;
        margin-left: 90px;
    }
}

@media (max-width: 344px){
    .img-form{
        width: 200px;
    }

    .title{
        font-size: 16px;
        margin-left: 60px;
    }

    form{
        font-size: 10px;
    }

    .fordform{
        width: 200px;
        margin-left: 60px;
        font-size: 10px;
    }

    select.fordform{
        width: 210px;
        margin-left: 60px;
    }

    #notification{
        width: 9px;
        height: 9px;
        margin-left: 60px;
    }

    .button-send{
        width: 200px;
        font-size: 10px;
        margin-left: 60px;
    }
}
